blockquote {
  color: var(--purple);
  font-style: italic;
  padding: var(--margin-medium);

  cite {
    display: block;
    font-size: var(--font-small);
    margin-left: var(--margin-large);
  }
}

table:not(.rouge-table) {
  border: 1px solid var(--white);
  background: var(--gray);
  margin-bottom: var(--margin-small);
  border-radius: 5px;

  thead {
    color: var(--white);
  }

  tbody {
    tr:nth-child(even) {
      color: var(--yellow);
    }
  }

  th {
    background: var(--dark-gray);
  }

  td {
    padding: var(--margin-small) var(--margin-medium);
  }
}

hr {
  border: 1px solid var(--gray);
  margin: var(--margin-large) 0;
}

img {
  margin: var(--margin-small) 0 var(--margin-large) 0;
  padding: var(--margin-xsmall);
  border: 1px solid silver;
  border-radius: 5px;
}

figure {
  background: var(--gray);
  border: 1px solid var(--white);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: var(--margin-large);

  img {
    margin: 0;
  }
}

figcaption {
  color: var(--yellow);
  font-size: var(--font-small);
  font-style: italic;
  text-align: center;
}

.note,
.warning,
.success,
.todo {
  display: block;
  background: var(--gray);
  border-radius: 5px;
  padding: var(--margin-medium);
  margin: var(--margin-large) var(--margin-medium);

  &::before {
    display: block;
    margin-right: var(--margin-small);
    margin-bottom: var(--margin-small);
  }
}

.note {
  color: var(--white);
  border: 1px solid var(--cyan);

  &::before {
    color: var(--cyan);
    content: " NOTE:";
  }
}

.warning {
  color: var(--white);
  border: 1px solid var(--pink);

  &::before {
    color: var(--pink);
    content: "✗ WARNING:";
    font-weight: bold;
  }
}

.success {
  color: var(--white);
  border: 1px solid var(--green);

  &::before {
    color: var(--green);
    content: "✓ SUCCESS!";
    font-style: italic;
  }
}

.todo {
  color: var(--white);
  border: 1px solid var(--green);

  &::before {
    color: var(--green);
    content: "  TODO:";
    font-weight: bold;
  }
}

.caption {
  color: var(--yellow);
  font-size: var(--font-small);
  font-style: italic;
  margin: var(--margin-small) 0 var(--margin-large) var(--margin-medium);
}

#markdown-toc,
.course-toc {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  padding-inline-start: var(--margin-xlarge);
  list-style-type: disc;

  li {
    padding: 0.2em;
  }
}

/* code higlighting tweaks */

:not(.highlight) > code {
  font-size: var(--font-medium);
  font: monospace;
  background: var(--gray);
}

.highlight {
  overflow-x: auto;
}

code,
pre,
.highlighter-rouge {
  font-size: var(--code-font-size);
  background: var(--dark-gray);
  font-family: "HackNerd", Verdana, Arial, Helvetica, sans-serif;

  .c {
    color: var(--yellow3);
  }
}

.highlighter-rouge {
  border: 1px solid var(--white);
  border-radius: 5px;
  margin:  var(--margin-medium) var(--margin-medium) var(--margin-medium);
  padding: var(--margin-medium);
}

.language-text {
  pre {
    color: var(--purple);
  }
}
